<div class="seyehat-layout">
  <aside class="left-rail">
    <div class="tab">Seyehat</div>

    <ul class="drop">
      <li><a routerLink="/seyehat/cruise" routerLinkActive="active">Cruise</a></li>
      <li><a routerLink="/seyehat/geziler" routerLinkActive="active">Geziler</a></li>
      <li><a routerLink="/seyehat/kulturgezileri" routerLinkActive="active">Kültür Gezileri</a></li>
      <li><a routerLink="/seyehat/turlar" routerLinkActive="active">Turlar</a></li>
      <li><a routerLink="/seyehat/yurtdisi" routerLinkActive="active">Yurt Dışı</a></li>
    </ul>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
