<div class="admin-shell">
  <aside class="sidebar">
    <h3>Admin</h3>
    <nav>
      <a routerLink="badges">Badges</a>
      <a routerLink="categories" routerLinkActive="active">Categories</a>
      <a routerLink="comments" routerLinkActive="active">Comments</a>
      <a routerLink="events" routerLinkActive="active">Events</a>
      <a routerLink="users" routerLinkActive="active">Users</a>
      <a routerLink="ratings" routerLinkActive="active">Ratings</a>
      <a routerLink="geziler" routerLinkActive="active">Geziler</a>


    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
