.footer {
  background-color: #ADD8E6; /* bebek mavisi */
  color: white;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  box-sizing: border-box;
}

.footer-section {
  text-align: center;
}

.footer-section h3 {
  margin: 0;
  font-size: 1.2rem;
}

.footer-section p {
  margin: 0.5rem 0 0 0;
}

.icon {
  width: 30px;
  height: 30px;
}
